@charset "utf-8"
@import bourbon/bourbon
+font-face(BebasNeue, /fonts/BebasNeue-webfont)
+font-face(entypo-social, /fonts/entypo-social)
+font-face(entypo, /fonts/entypo)
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One)
@import colors
@import mixins

*
  box-sizing: border-box

body
  background: $white

ul
  padding: 0
  margin: 0

li
  list-style-type: none

.container
  +clearfix
  max-width: 1024px
  width: 96%
  margin: auto

header
  background: $white
  border-bottom: 10px solid $yellow
  margin: 0 0 5px 0

.logo
  +hide-text
  +size(198 100)
  float: left
  background: url(../images/logo.jpg)

nav
  +bebas
  color: $dark-gray
  float: right
  padding: 35px 0 0 0

  ul
    float: left

  li
    float: left
    letter-spacing: 2px
    margin: 0 0 0 36px
    font-size: 24px

.hero-image
  +clearfix
  background: $white

.feature-photo
  float: left
  width: 24.69%
  margin: 0 5px 5px 0
  height: 200px
  background: $yellow

  &:nth-child(4n+4)
    margin: 0 0 5px 0

.instagram
  float: right
  margin: 15px 0 0 0

  i
    float: left
    font-family: "entypo-social"
    font-style: normal
    font-size: 36px
    position: relative
    bottom: 9px
    margin: 0 5px 0 0

  p
    +bebas
    float: left
    text-transform: lowercase
    margin: 0

.info
  margin: 120px 0

  h2
    font-family: "helvetica"
    color: black
    font-size: 40px
    text-align: center

.feature
  +border
  float: left
  width: 30%
  height: 300px
  margin: 0 20px 0 0
  border: 3px solid $yellow

.icon-holder
